
<html>
<head>
  <title>CSE 546 Cloud Computing course project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud.css">
    <link href="index.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Distributed Tweet Analysis</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>

    </ul>
  </div>
</nav>
<br/><br/>
<br/><br/>

  <div class="container-fluid">
      <div class="row">
      <div class="col-sm-5">
        <div id="sentimentPiechart" style="height: 500px; background-color : #A3C7C9"></div>
      </div>
      <div class="col-sm-5">
        <div id="topHash" style="height: 500px;"></div>
      </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-5">
        <div id="topUserMentions" style="height: 500px; background-color : #A3C7C9"></div>
        </div>
        <div>
        <div class="col-sm-2">
          </div>
        <div class="col-sm-5">
          <div> <strong>Daily Tweets Distribution</strong></div><br/><br/>
          <div id='dailyTweetschart' style='height: 450px; margin-left : 20px;'></div>
        </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-sm-5">
      <div id="topUser" style="height: 500px; background-color : #A3C7C9"></div>
      </div>
      <div>
      <div class="col-sm-2">
        </div>
      <div class="col-sm-5">
        <div> <strong>Frequently used Words</strong></div><br/><br/>
        <div id="WordCloud" style="height: 500px; background-color :white"></div>
      </div>
      </div>
    </div>
    <br>
    <br />
    <div class="row">
      <div class="col-sm-5">
        <div> <strong>Heat Map</strong></div><br/><br/>
        <div id="map" style="height: 500px; background-color :white"></div>
      </div>
      <div class="col-sm-2">
        </div>
      <div class="col-sm-5">
        <div> <strong>Viral Tweets</strong></div><br/><br/>
        <div id="tweets" class="scroll" style="height: 500px; background-color :white"></div>
        </div>
    </div>
  </div>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jqcloud/1.0.4/jqcloud-1.0.4.js"></script>

<script src="index.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyDTlf4PdknQp7TuI8oakozrbDTMCflpBMg&callback=loadMap"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script>
var coordDetails = "<%=fullCoOrdinate%>".replace(/&#34;/g,'"');
// console.log(sentimentDetails);
var coordData = JSON.parse(coordDetails);
var heatMapData = [];
for(var i=0; i< coordData.length; i++){
  var coOrd = coordData[i];
  heatMapData.push(new google.maps.LatLng(coOrd[1], coOrd[0]));
}
// console.log(coordDetails);
heatmap = new google.maps.visualization.HeatmapLayer({
    data: heatMapData,
    map: map
  });

  var sentimentDetails = "<%=sentimentData%>".replace(/&#34;/g,'"');
  // console.log(sentimentDetails);
  var sentimentData = JSON.parse(sentimentDetails);
  // console.log(sentimentData);
  var hashTag = "<%=hashtags%>".replace(/&#34;/g,'"');
  var hashTagData = JSON.parse(hashTag);
  // console.log(hashTagData);
  var mentions = "<%=mentions%>".replace(/&#34;/g,'"');
  var mentionsData = JSON.parse(mentions);
  //
  var dailyTweets = "<%=dailyDistribution%>".replace(/&#34;/g,'"');
  var dailyTweetsData = JSON.parse(dailyTweets);
  //
  var topUser = "<%=topUser%>".replace(/&#34;/g,'"');
  var topUserData = JSON.parse(topUser);

  var topWord = "<%=topWords%>".replace(/&#34;/g,'"');
  var topWordsData = JSON.parse(topWord);

  var fullCoOrdinate = "<%=fullCoOrdinate%>".replace(/&#34;/g,'"');
  var fullCoOrdinateData = JSON.parse(fullCoOrdinate);

  var tidList = "<%=tidList%>".replace(/&#34;/g,'"');
  var tidListData = JSON.parse(tidList);

  window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "http://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
  }(document, "script", "container"));
  document.getElementById('tweets').innerHTML = [];

  for(var i=0; i< tidListData.length; i++){
    var id = 'container'+i;
    document.getElementById('tweets').innerHTML += '<div id='+id+'></div>';

  }
  var count=0;
  for(var i=0; i< tidListData.length; i++){
    var id = 'container'+i;
    var tid  = tidListData[i];
    twttr.widgets.createTweet(
      tid,
      document.getElementById(id),
      {
        theme: 'light',
        width: '1000px'
      }
    ).then( function( el ) {
      // console.log('Tweet added.');
      count++;
      if(count == tweets.length)
        spinner.stop();
    });
  }


  google.charts.load("current", {packages:["annotationchart", "corechart", "bar"]});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(sentimentData);

        var options = {
          title: 'Sentiment Analysis',
          // is3D: true,

          pieHole: 0.4,
          colors: ["#008000", "#454FEA", "#FF0000"]
        };

        var chart = new google.visualization.PieChart(document.getElementById('sentimentPiechart'));
        chart.draw(data, options);
        //////////////////////////////////////////////////////
        var hashArray = [["HashTag", "Count"]];
        for(var i=0; i< hashTagData.length; i++){
          var newAr = [];
          newAr.push(hashTagData[i].key);
          newAr.push(hashTagData[i].doc_count);
          hashArray.push(newAr);
        }
        var tophashTag = new google.visualization.arrayToDataTable(hashArray);

       var tophashTagoptions = {
         title: 'Top 10 Hash Tag',
         width: 900,
         legend: { position: 'none' },
         chart: { subtitle: 'popularity by retweet' },
         axes: {
           x: {
             0: { side: 'top', label: 'HashTag'} // Top x-axis.
           }
         },
         bar: { groupWidth: "90%" }
       };

       var hashchart = new google.charts.Bar(document.getElementById('topHash'));
       hashchart.draw(tophashTag, google.charts.Bar.convertOptions(tophashTagoptions));
       /////////////////////////////////////////////////////////////////////////////////
       var umArray = [["UserMentions", "Count"]];
       for(var i=0; i< mentionsData.length; i++){
         var newAr = [];
         newAr.push(mentionsData[i].key);
         newAr.push(mentionsData[i].doc_count);
         umArray.push(newAr);
       }
       var mentionsdata = new google.visualization.arrayToDataTable(umArray);

       var mentionsoptions = {
         title: 'Top 10 user mention',
         width: 900,
         legend: { position: 'none' },
         chart: { title: 'Top 10 user mention',
                  subtitle: 'popularity by retweet' },
         bars: 'horizontal', // Required for Material Bar Charts.
         axes: {
           x: {
             0: { side: 'top', label: 'User Mention Count'} // Top x-axis.
           }
         },
         bar: { groupWidth: "90%" },
         colors: ["#A90E0E"]
       };

       var mentionschart = new google.charts.Bar(document.getElementById('topUserMentions'));
       mentionschart.draw(mentionsdata, mentionsoptions);
       /////////////////////////////////////////////////////////////////////////////////
       var dailyTweetsAr = [];
       for(var i=0; i< dailyTweetsData.length; i++){
         var newAr = [];

         newAr.push(new Date(dailyTweetsData[i].key));
         newAr.push(dailyTweetsData[i].doc_count);
         newAr.push("No of Tweets ");
         newAr.push(dailyTweetsData[i].doc_count.toString());
         dailyTweetsAr.push(newAr);
       }

       var dailyTweetsdata = new google.visualization.DataTable();
        dailyTweetsdata.addColumn('date', 'Date');
        dailyTweetsdata.addColumn('number', 'Tweet Count');
        dailyTweetsdata.addColumn('string', 'No of Tweets');
        dailyTweetsdata.addColumn('string', 'TweetsCount');
        dailyTweetsdata.addRows(dailyTweetsAr);

        var tweetschart = new google.visualization.AnnotationChart(document.getElementById('dailyTweetschart'));

        var chartoptions = {
          displayAnnotations: true
        };

        tweetschart.draw(dailyTweetsdata, chartoptions);
        //////////////////////////////////////////////////////
        var topUserArray = [["Top Users", "Count"]];
        for(var i=0; i< topUserData.length; i++){
          var newAr = [];
          newAr.push(topUserData[i].key);
          newAr.push(topUserData[i].doc_count);
          topUserArray.push(newAr);
        }
        var topUserTag = new google.visualization.arrayToDataTable(topUserArray);

       var topUserOptions = {
         title: 'Top 10 Users',
         width: 900,
         legend: { position: 'none' },
         chart: { subtitle: 'popularity by retweets' },
         axes: {
           x: {
             0: { side: 'top', label: 'Users'} // Top x-axis.
           }
         },
         bar: { groupWidth: "90%" }
       };

       var userchart = new google.charts.Bar(document.getElementById('topUser'));
       userchart.draw(topUserTag, google.charts.Bar.convertOptions(topUserOptions));

       //////////////////////////////////////////////////////
       var topWordsArray = [];
       for(var i=0; i< topWordsData.length; i++){
         var words = new Object();
         words.text = topWordsData[i].key;
         words.weight= topWordsData[i].doc_count;
         topWordsArray.push(words);
       }
       $('#WordCloud').jQCloud(topWordsArray);
      }
      //////////////////////////////////

</script>

</body>
</html>
