
<html>
<head>
  <title>CSE 546 Cloud Computing course project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
  <div class="container-fluid">
    <div class="row">
    <div class="col-sm-5">
      <div id="sentimentPiechart" style="height: 500px;"></div>
    </div>
    <div class="col-sm-5">
      <div id="topHash" style="height: 500px;"></div>
    </div>
  </div>
  </div>


       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  var sentimentDetails = "<%=sentimentData%>".replace(/&#34;/g,'"');
  // console.log(sentimentDetails);
  var sentimentData = JSON.parse(sentimentDetails);
  // console.log(sentimentData);
  var hashTag = "<%=hashtags%>".replace(/&#34;/g,'"');
  var hashTagData = JSON.parse(hashTag);
  // console.log(hashTagData);
  google.charts.load("current", {packages:["corechart", "bar"]});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(sentimentData);

        var options = {
          title: 'Sentiment Analysis',
          // is3D: true,

          pieHole: 0.4,
          colors: ["#008000", "#454FEA", "#FF0000"]
        };

        var chart = new google.visualization.PieChart(document.getElementById('sentimentPiechart'));
        chart.draw(data, options);
        //////////////////////////////////////////////////////
        var hashArray = [["HashTag", "Count"]];
        for(var i=0; i< hashTagData.length; i++){
          var newAr = [];
          newAr.push(hashTagData[i].key);
          newAr.push(hashTagData[i].doc_count);
          hashArray.push(newAr);
        }
        var tophashTag = new google.visualization.arrayToDataTable(hashArray);

       var tophashTagoptions = {
         title: 'Top 10 Hash Tag',
         width: 900,
         legend: { position: 'none' },
         chart: { subtitle: 'popularity by retweet' },
         axes: {
           x: {
             0: { side: 'top', label: 'HashTag'} // Top x-axis.
           }
         },
         bar: { groupWidth: "90%" }
       };

       var hashchart = new google.charts.Bar(document.getElementById('topHash'));
       // Convert the Classic options to Material options.
       hashchart.draw(tophashTag, google.charts.Bar.convertOptions(tophashTagoptions));

      }
</script>
</body>
</html>
